<div class="row match-height">
    <div class="col-12 mt-10">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add System Email</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" method="post" action="/system-email/add_action" data-parsley-validate>
                        <input type="hidden" name="newAdmin" value="true">
                        <input type="hidden" name="iAdminId" id="iAdminId" value="{{adminData._id}}">

                        <div class="row">
                            <div class="col-md-6  col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Email Code</label>
                                    <input type="text" id="first-name-column" class="form-control"
                                        placeholder="Enter Email Code" value="" name="username"
                                        data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Email Title</label>
                                    <input type="email" id="last-name-column" class="form-control" value=""
                                        placeholder="Enter Email Title" name="email" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">From Name</label>
                                    <input type="test" id="password" class="form-control" placeholder="Enter From Name"
                                        name="password" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">From Email</label>
                                    <input type="test" id="password" class="form-control" placeholder="Enter From Email"
                                        name="password" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Cc Email</label>
                                    <input type="test" id="password" class="form-control" placeholder="Enter Cc Email"
                                        name="password" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Bcc Email</label>
                                    <input type="test" id="password" class="form-control" placeholder="Enter Bcc Email"
                                        name="password" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="password">Email Subject</label>
                                    <input type="test" id="password" class="form-control"
                                        placeholder="Enter Email Subject" name="password" data-parsley-required="true"
                                        data-parsley-equalto="#confirmPassword"
                                        data-parsley-equalto-message="Both Password Should Be Same"
                                        data-parsley-minlength='6' data-parsley-maxlength='15'>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 col-12">
                                <div class="form-group">
                                    <label for="confirmPassword">Internal Message</label>
                                    <input type="text" id="confirmPassword" class="form-control" name="confirmPassword"
                                        placeholder="Enter Internal Message" data-parsley-required="true"
                                        data-parsley-minlength='6' data-parsley-maxlength='15'
                                        data-parsley-equalto="#password"
                                        data-parsley-equalto-message="Both Password Should Be Same">
                                </div>
                            </div>
                            <div class="col-md-3  mt-3 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Status</label>
                                    <select class="form-select form-select mb-3" name="status"
                                        aria-label=".form-select-lg example">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="ivu-form-item-label">Email Message</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <textarea placeholder="Enter Email Message"
                                                class="ivu-input ivu-input-default" name="tEmailMessage"
                                                id="tEmailMessage"></textarea>
                                            <div class="text-danger" id="tEmailMessage_error" style="display: none;">
                                                Please enter email message
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-3 mb-1">Submit</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/tinymce/tinymce.min.js"></script>
<script src="/assets/vendors/tinymce/plugins/code/plugin.min.js"></script>
<script>
    tinymce.init({ selector: '#default' });
    tinymce.init({ selector: '#dark', toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code', plugins: 'code' });
    tinymce.init({
        selector: '#tEmailMessage',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });
</script>