<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Admin</h3>
                {{!-- <p class="text-subtitle text-muted">For user to check they list</p> --}}
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-md-2 order-last">

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control rounded me-2" placeholder="Search" aria-label="Search"
                            aria-describedby="button-addon2" id="search-input">
                        <a href="/admin/add" class="btn me-2 rounded btn-primary">Add new</a>
                        <a href="#" class="btn rounded btn-danger" id="delete_btn">Multi delete</a>
                    </div>

                </nav>
            </div>
        </div>
    </div>

    <!-- Hoverable rows start -->
    <section class="section">
        <div class="row" id="table-hover-row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox"
                                                class="form-check-input form-check-primary form-check-glow"
                                                name="customCheck" id="selectall">
                                        </th>
                                        <th>Image</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Phone No.</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="table_record">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hoverable rows end -->

            {{!-- <nav aria-label="Page navigation example">
                <ul class="pagination pagination-primary">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav> --}}


</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    function filter(iAdminIds, vActions, vPage) {
        const searchInput = $("#search-input").val();
        const iAdminId = iAdminIds;
        const vAction = vActions;
        var vPage = vPage;

        $("#table_record").html('');
        $("#table_record").html('<tr class="text-center"><td colspan="12"><img src="/assets/vendors/svg-loaders/oval.svg" class="me-4" style="width: 4rem; margin: 10px;" alt="audio"></tr></td>')

        $.ajax({
            url: "/admin/ajax_listing",
            type: "POST",
            data: {
                searchInput:searchInput,
                iAdminId:iAdminId,
                vAction: vAction,
                vPage: vPage
            },
            success: function (response) {
                $("#table_record").html(response);
            },
            error: function (error) {
                notification_error("Somthing went wrong!")
                //window.location = '/'
            }
        });
    }

    $(document).ready(function () {
        filter("", "search", "");
    });

    $('#search-input').keyup(_.debounce(function () {
        filter("", "search", "");
    }, 1000));

    $(document).on('change', '#eStatus', function () {
        filter("", "search", "");
    });

    $(document).on('click', '.delete', function () {
        const res = confirm('Are you sure to delete this record ?');
        if (res) {
            filter($(this).data("id"), "delete", "");
        }
    });

    $(document).on('click', '.ajax_page', function () {
        var vPage = $(this).data("id");
        filter("", "search", vPage);
    });

    $(document).on('click', '#delete_btn', function () {
        let iAdminId = [];

        $("input[name='iAdminId[]']:checked").each(function () {
            iAdminId.push($(this).val());
        });

        iAdminId = iAdminId.join(",");

        if (iAdminId.length == 0) {
            alert('Please select records.')
        } else {
            const res = confirm('Are you sure to delete this record ?');
            if (res) {
                filter(iAdminId, "multiple_delete", "");
            }
        }
    });



</script>